* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

h2 {
  color: #002d73;
  font-size: 40;
  margin-left: 10px;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  margin: auto;
}
header .logo {
  text-align: center;
}
header ul {
  list-style: none;
  display: flex;
  justify-content: center;
}
header ul li {
  padding: 10px 0;
}
header ul li.active {
  background-color: #b2e5fc;
}
header ul a {
  color: black;
  font-size: 25px;
  margin: 0 15px;
}

main {
  background-image: url("../img/fondo-pag-speciali.jpg");
  padding-top: 20px;
}
main .pasta__wrap {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
main .pasta__wrap .pasta__box {
  width: calc(( 100% / 3 ) - 20px);
  margin: 10px;
}
@media screen and (max-width: 992px) {
  main .pasta__wrap .pasta__box {
    width: calc(( 100% / 2 ) - 20px);
  }
}
@media screen and (max-width: 576px) {
  main .pasta__wrap .pasta__box {
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
  }
}
main .pasta__wrap .pasta__box img {
  width: 100%;
}

footer {
  padding: 70px 0;
  background-image: url("../img/footer-montagne-bottom.jpg");
  background-repeat: no-repeat;
  background-position-y: bottom;
  color: #848d9b;
}
footer .container {
  display: flex;
  flex-wrap: wrap;
}
@media screen and (max-width: 992px) {
  footer .container {
    display: block;
  }
}
footer .container .column {
  width: calc( 100% / 3 );
  padding: 10px;
}
@media screen and (max-width: 992px) {
  footer .container .column {
    width: 60%;
  }
}
@media screen and (max-width: 576px) {
  footer .container .column {
    width: 100%;
  }
}
footer .container .column .footer__logo {
  text-align: center;
}
footer .container .column img {
  width: 70%;
  height: auto;
}
footer .container .column ul {
  list-style: none;
  margin-bottom: 20px;
}
footer .container .column ul li {
  margin-bottom: 10px;
}
footer .container .column ul li a {
  color: #848d9b;
}
