footer{
    padding: 70px 0;
    background-image: url('../img/footer-montagne-bottom.jpg');
    background-repeat: no-repeat;
    background-position-y: bottom;
    color: $text_color;

    .container{
        display: flex;
        flex-wrap: wrap;

        @media screen and (max-width: 992px){
            display: block;
        }
    
        .column{
            width: calc( 100% / 3 );
            padding: 10px;

            @media screen and (max-width: 992px){
                width: 60%
            }

            @media screen and (max-width: 576px){
                width: 100%;
            }

            .footer__logo{
                text-align: center;
            }

            img{
                width: 70%;
                height: auto;
            }

            ul{
                list-style: none;
                margin-bottom: 20px;

                li{
                    margin-bottom: 10px;

                    a{
                        color: $text_color;
                    }
                }
            }
        }
    }

}