header{

    width: 100%;
    margin: auto;

    .logo{
        text-align: center;
    }

    ul{
        list-style: none;
        display: flex;
        justify-content: center;

        li{
            padding: 10px 0;
        }

        li.active{
            background-color: $secondary_color;
        }

        a{
            text-decoration: none;
            color: black;
            font-size: 25px;
            margin: 0 15px;
        }

    }
}
