main{
    background-image: url('../img/fondo-pag-speciali.jpg');
    padding-top: 20px;

    .pasta__wrap{
        display: flex;
        flex-wrap: wrap;
        width: 100%;

        .pasta__box{
            width: calc(( 100% / 3 ) - 20px);
            margin: 10px;

            @media screen and (max-width: 992px){
                width: calc(( 100% / 2 ) - 20px);
            }

            @media screen and (max-width: 576px){
                width: 100%;
                margin: 10px 0;
                padding: 0 10px;
            }

            img{
                width: 100%;
            }
        }
    }
}